mixin mainCard(exbInfo, exbCategory)
    
    .main-card-container
        .main-card
            .main-card-category-icon
                if exbCategory === "Museum"
                    i.fa-solid.fa-building-columns
                else if exbCategory === "Gallery"
                    i.fa-solid.fa-palette
            .main-card-country-icon 
                img(src=`https://hatscripts.github.io/circle-flags/flags/${exbInfo.countryCode}.svg` width="48")
            .main-card-image 
                img(loading="lazy" src=`${exbInfo.thumbnailSrc}` )
                

            .main-card-info 
                .info-title=exbInfo.title
                .info-date=exbInfo.date
                .info-hall=exbInfo.hall
                .info-country=exbInfo.country
                .info-category=exbCategory
                .info-imgSrc=exbInfo.thumbnailSrc

    //- .main-card-container
    //-     .main-section-card-inner 
    //-         .card-front.side
    //-             img.frontImg(loading="lazy" src=`${exbInfo.thumbnailSrc}` )
    //-             .card-content__wrapper
    //-                 .card-content__upper-inner
    //-                     .card-content__hallname
    //-                         span.content-hallname #{exbInfo.hall}
    //-                     .card-content__countryname
    //-                         span.content-countryname #{exbInfo.country}
    //-                     //- .content-hall
    //-                     //-     span #{exbInfo.hall}
    //-                 .card-content__front-inner
    //-                     .card-content__title
    //-                         div
    //-                             span.content-title #{exbInfo.title}
    //-                     .card-content__date
    //-                         span #{exbInfo.date}
    //-         .card-back.side
    //-             .back-blurfilter
    //-             img(loading="lazy" src=`${exbInfo.thumbnailSrc}` )
    //-             .card-content__wrapper
    //-                 .card-content__back-inner 
    //-                     .card-content__detail
    //-                         span #{exbInfo.detail}
    //-                 .card-content__more-info-btn
    //-                     span 
    //-                         a(href=`/main/detail/${exbInfo._id}`) MORE INFO