mixin mainSectionCard(exbInfo)
    if exbInfo.category === "museum"
        .mainSection__card 
            .mainSection__card-inner 
                .card-front.side
                    img.frontImg(loading="lazy" src=`${exbInfo.thumbnailSrc}` )
                    .card-content__wrapper
                        .card-content__upper-inner(style="background-color: rgba(255, 227, 176, 1); color: black;")
                            .content-category 
                                span #{exbInfo.category}
                            //- .content-hall
                            //-     span #{exbInfo.hall}
                        .card-content__front-inner
                            .card-content__title
                                div
                                    span.content-title #{exbInfo.title}
                            .card-content__date
                                span #{exbInfo.date}
                .card-back.side
                    .back-blurfilter
                    img(loading="lazy" src=`${exbInfo.thumbnailSrc}` )
                    .card-content__wrapper
                        .card-content__back-inner 
                            .card-content__detail
                                span #{exbInfo.detail}
                        .card-content__more-info-btn
                            span 
                                a(href=`/main/detail/${exbInfo._id}`) MORE INFO
    else
        .mainSection__card
            .mainSection__card-inner 
                .card-front.side
                    img.frontImg(loading="lazy" src=`${exbInfo.thumbnailSrc}` )
                    .card-content__wrapper
                        .card-content__upper-inner(style="background-color: rgba(112, 255, 181, 1); color: black;")
                            .content-category
                                span #{exbInfo.category}
                            //- .content-hall
                            //-     span #{exbInfo.hall}
                        .card-content__front-inner
                            .card-content__title
                                div
                                    span.content-title #{exbInfo.title}
                            .card-content__date
                                span #{exbInfo.date}
                .card-back.side
                    .back-blurfilter
                    img(loading="lazy" src=`${exbInfo.thumbnailSrc}` )
                    .card-content__wrapper
                        .card-content__back-inner 
                            .card-content__detail
                                span #{exbInfo.detail}
                        .card-content__more-info-btn
                            span MORE INFO