mixin printInfo(halls)
    - for (var i = 0; i < 1; i += 1)
        - for (var j = 0; j < halls[i].titles.length; j += 1)
            h4 Title: #{halls[i].titles[j]} 
            img(src=`${halls[i].thumbnailsSrc[j]}`)
            div Date: #{halls[i].dates[j]} 
            div Detailed: #{halls[i].details[j]}

//- mixin printInfo(exbHalls)
//-     - for (var i = 0; i < exbHalls.infoLength; i += 1)
//-         h4 Title: #{exbHalls.titles[i]} 
//-         img(src=`${exbHalls.thumbnailsSrc[i]}`)
//-         div Date: #{exbHalls.dates[i]} 
//-         div Detailed: #{exbHalls.details[i]}