head 
    title #{pageTitle}

body 
    div 
        a(href=`${exb.link}`) 
            h1 Title: #{exb.title}
        span #{exb.date} 
        br
        img(src=`${exb.thumbnailSrc}`)
        br
        span #{exb.detail}