extends layout

block links
    link(rel="stylesheet", href="/static/css/intro.css")

block content
    .stage
        section#slide-0.intro.slide--0.into--blur
            .intro__content
                h1.intro__title WoExb
                p.intro__txt
                    | WoExb is a space where exhibition information from all over the world is gathered. WoExb is a space where exhibition information from all over the world is gathered. WoExb is a space where exhibition information from all over the world is gathered.
            img.intro__img.intro__img--1(src=`https://wallpaperaccess.com/full/2997.jpg`)
            img.intro__img.intro__img--2(src=`https://images-na.ssl-images-amazon.com/images/I/71tLPDMwpwL.jpg`)
        
        section#slide-1.slide.slide--1
            .col.col--1
                .col__content.col__content--1.col__content--blur
                    h2.col__content-title
                        span.line__inner #{allExb[0].title}
                        br
                        span.line__inner #{allExb[0].hall}
                        .col__content-wrap
                            p.col__content-txt #{allExb[0].date}
                            a.slide-link(href=`/main/detail/${allExb[0]._id}`)
                                .slide-link__circ
                                .slide-link__line
                a.slide__scroll-link(href='')
                    .slide__scroll-line
            .col.col--2
                .col__image-wrap
                    img.img.img--1(src=`${allExb[0].thumbnailSrc}`)
  
        section#slide-2.slide.slide--2
            .col.col--1
                .col__content.col__content--2.col__content--blur
                    h2.col__content-title
                        span.line__inner #{allExb[1].title}
                        br
                        span.line__inner #{allExb[1].hall}
                        .col__content-wrap
                            p.col__content-txt #{allExb[1].date}
                            a.slide-link(href=`/main/detail/${allExb[1]._id}`)
                                .slide-link__circ
                                .slide-link__line
                a.slide__scroll-link(href='')
                    .slide__scroll-line
            .col.col--2
                .col__image-wrap
                    img.img.img--1(src=`${allExb[1].thumbnailSrc}`)
        
        section#slide-3.slide.slide--3
            .col.col--1
                .col__content.col__content--3.col__content--blur
                    h2.col__content-title
                        span.line__inner #{allExb[2].title}
                        br
                        span.line__inner #{allExb[2].hall}
                        .col__content-wrap
                            p.col__content-txt #{allExb[2].date}
                            a.slide-link(href=`/main/detail/${allExb[2]._id}`)
                                .slide-link__circ
                                .slide-link__line
                a.slide__scroll-link(href='')
                    .slide__scroll-line
            .col.col--2
                .col__image-wrap
                    img.img.img--1(src=`${allExb[2].thumbnailSrc}`)
        
        section#slide-4.slide.slide--4
            .col.col--1
                .col__content.col__content--4.col__content--blur
                    h2.col__content-title
                        span.line__inner #{allExb[3].title}
                        br
                        span.line__inner #{allExb[3].hall}
                        .col__content-wrap
                            p.col__content-txt #{allExb[3].date}
                            a.slide-link(href=`/main/detail/${allExb[3]._id}`)
                                .slide-link__circ
                                .slide-link__line
                a.slide__scroll-link(href='')
                    .slide__scroll-line
            .col.col--2
                .col__image-wrap
                    img.img.img--1(src=`${allExb[3].thumbnailSrc}`)

        section#slide-5.slide.slide--5
            .col.col--1
                .col__content.col__content--5.col__content--blur
                    h2.col__content-title
                        span.line__inner #{allExb[4].title}
                        br
                        span.line__inner #{allExb[4].hall}
                        .col__content-wrap
                            p.col__content-txt #{allExb[4].date}
                            a.slide-link(href=`/main/detail/${allExb[4]._id}`)
                                .slide-link__circ
                                .slide-link__line
                a.slide__scroll-link(href='')
                    .slide__scroll-line
            .col.col--2
                .col__image-wrap
                    img.img.img--1(src=`${allExb[4].thumbnailSrc}`)

        section#slide-6.slide.slide--6
            .col.col--1
                .col__content.col__content--6.col__content--blur
                    h2.col__content-title
                        span.line__inner #{allExb[5].title}
                        br
                        span.line__inner #{allExb[5].hall}
                        .col__content-wrap
                            p.col__content-txt #{allExb[5].date}
                            a.slide-link(href=`/main/detail/${allExb[5]._id}`)
                                .slide-link__circ
                                .slide-link__line
                a.slide__scroll-link(href='')
                    .slide__scroll-line
            .col.col--2
                .col__image-wrap
                    img.img.img--1(src=`${allExb[5].thumbnailSrc}`)
        
        footer#slide-7.footer
            a.footer__link(href='') World Exibitions
            a.footer__link-top(href='#slide-0')
                | Top
                span.footer__link-top-line
            p.footer__copyright &copy; #{new Date().getFullYear()} 
                a(href='https://yjg-lab.tistory.com/category/%EC%BB%B4%ED%93%A8%ED%84%B0%EA%B3%B5%ED%95%99%20%F0%9F%92%BB' target='_blank') jaegyong


block scripts
    script(src="/static/js/intro.js")