extends layout
include mixins/main-logo

block links
    link(rel="stylesheet", href="/static/css/intro.css")

block content
    //- .intro-scroll-bar 
    //-     .bar-guage
    .intro-header
        .intro-marquee-container
            .intro-marquee-block-container-sideblur.white-blur
            .intro-marquee-block-container
                .intro-marquee-block
                    .intro-marquee-inner.to-left
                        span
                            - for(let i = 0; i < 5; i += 1)
                                .intro-marquee-item
                                    img(loading="lazy" src=`${allExbs[i].thumbnailSrc}`)
                        span
                            - for(let i = 5; i < 10; i += 1)
                                .intro-marquee-item
                                    img(loading="lazy" src=`${allExbs[i].thumbnailSrc}`)
                .intro-marquee-block
                    .intro-marquee-inner.to-right
                        span
                            - for(let i = 10; i < 15; i += 1)
                                .intro-marquee-item
                                    img(loading="lazy" src=`${allExbs[i].thumbnailSrc}`)
                        span
                            - for(let i = 15; i < 20; i += 1)
                                .intro-marquee-item
                                    img(loading="lazy" src=`${allExbs[i].thumbnailSrc}`)
                .intro-marquee-block
                    .intro-marquee-inner.to-left
                        span
                            - for(let i = 25; i < 30; i += 1)
                                .intro-marquee-item
                                    img(loading="lazy" src=`${allExbs[i].thumbnailSrc}`)
                        span
                            - for(let i = 35; i < 40; i += 1)
                                .intro-marquee-item
                                    img(loading="lazy" src=`${allExbs[i].thumbnailSrc}`)

        h1 INTRODUCING 
        +mainLogo
       
        .chevrons
            .chevrondown
            .chevrondown
                
        //- h6 SCROLL DOWN
        //- h2 인트로 페이지는 현재 제작중인 페이지입니다. 전시를 확인하시려면 <a href="/main">여기</a>를 혹은 상단의 MAIN을 클릭하여 메인페이지로 이동해주세요
    .intro-text
        p
    .intro-device-container.scene-1
        .monitor-bottom
            .monitor-bottom-prop
        .intro-device.scene-1
            .monitor.screen
                .content
                    .browser
                        ul.btns
                            li
                            li
                            li
                        .browser-content
                            ul.txt
                                li
                                li.big
                                li.third
                                li.third
                                li.third
                                li
                                li
                                li.third
                                li.third
                                li.third
                                li.third
                                li.third
                                li.third
                                li
                                li.big
                                li.third
                                li.third
                                li.third
                                li.third
                                li.third
                                li.third
            video(autoplay="" muted="" loop="" playsinline="" id="vid" preload="auto" width="100%" height="100%")
                source(src="" type="video/mp4")
                strong 이 브라우저는 비디오 태그를 지원하지 않습니다.
    
    .responsive-animation-container
       
        .laptop
            .screen
                ul.txt
                    li
                    li.big
                    li.third
                    li.third
                    li.third
                    li
                    li
                    li.third
                    li.third
                    li.third
                    li.third
                    li.third
                    li.third
                    li
                    li.big
                    li.third
                    li.third
                    li.third
                    li.third
                    li.third
                    li.third
            .btm
        .phone
            .phone-notch
            .screen
                ul.txt
                    li
                    li
                    li.txt-half
                    li.txt-half
                    li
                    li
                    li
                    li
                    li
                    li
                    li.txt-half
                    li.txt-half
                    li.txt-half
                    li.txt-half
                    li
                    li
            .shadow
        .ipad
            .screen
                ul.txt
                    li
                    li.big
                    li.txt-half
                    li.txt-half
                    li.txt-half
                    li.txt-half
                    li
                    li
                    li.txt-half
                    li.txt-half
                    li.txt-half
                    li.txt-half
                    li.txt-half
                    li.txt-half
                    li.txt-half
                    li.txt-half
                    li
            .ipad-btn
    

block scripts
    script(src="/static/js/intro.js")