extends layout
include mixins/mainCard

block links
    link(rel="stylesheet", href="/static/css/main.css")
    
block content
    .update-info-container 
        
    .main-section-container
        .main-banner-section-container
            
            .main-banner-slider
                .main-banner-1.main-banner(style=`background: url(${allExbs[10].thumbnailSrc}) no-repeat; background-size:cover`)
                    .banner-detail-filter
                    .banner-detail
                        h1=allExbs[10].title
                        p=`${allExbs[10].date} in ${allExbs[10].country}`
                        span=allExbs[10].link
                .main-banner-2.main-banner(style=`background: url(${allExbs[20].thumbnailSrc}) no-repeat; background-size:cover`)
                    .banner-detail-filter
                    .banner-detail
                        h1=allExbs[20].title
                        p=`${allExbs[20].date} in ${allExbs[20].country}`
                        span=allExbs[20].link
                .main-banner-3.main-banner(style=`background: url(${allExbs[30].thumbnailSrc}) no-repeat; background-size:cover`)
                    .banner-detail-filter
                    .banner-detail
                        h1=allExbs[30].title
                        p=`${allExbs[30].date} in ${allExbs[30].country}`
                        span=allExbs[30].link
                .main-banner-4.main-banner(style=`background: url(${allExbs[40].thumbnailSrc}) no-repeat; background-size:cover`)
                    .banner-detail-filter
                    .banner-detail
                        h1=allExbs[40].title
                        p=`${allExbs[40].date} in ${allExbs[40].country}`
                        span=allExbs[40].link
                .main-banner-5.main-banner(style=`background: url(${allExbs[50].thumbnailSrc}) no-repeat; background-size:cover`)
                    .banner-detail-filter
                    .banner-detail
                        h1=allExbs[50].title
                        p=`${allExbs[50].date} in ${allExbs[50].country}`
                        span=allExbs[50].link
            i.banner-control-btn.fa-solid.fa-chevron-left.prev
            i.banner-control-btn.fa-solid.fa-chevron-right.next
            
            .main-banner-trailer
                .trail-box1.active
                .trail-box2
                .trail-box3 
                .trail-box4 
                .trail-box5
                
        .main-card-section-container
            .main-card-mix-container
                - for (let exb of allExbs) {
                    if exb.category === "Museum"
                        .mix.filter-museum(class=`${(exb.country).split(' ').join('')}`)
                            +mainCard(exb, exb.category)
                    else if exb.category === "Gallery"
                        .mix.filter-gallery(class=`${(exb.country).split(' ').join('')}`)
                            +mainCard(exb, exb.category)
                    //- - break
                - }
        .main-card-info-floater
            .floater-img
                img(src="")
            .floater-info
                .floater-subtitle
                    .floater-subtitle-col.col1
                        h1
                    .floater-subtitle-col.col2
                        h1
                    .floater-subtitle-col.col3
                        h1
                .floater-title
                    h1
block scripts
    script(src="/static/js/main.js")
   
        